@{
    ViewBag.Title = "重設密碼確認";
}

@section topCSS{
    <link href="~/Assets/css/Login_Register.css" rel="stylesheet" />
}

<div class="container my-5">
    <div class="row flex-column align-content-center my-1">
        <div class="col-10 col-md-6 col-lg-4 site-logo mx-auto my-3">
            <a href="/Home/Index" class="link-logo">
                <img src="https://drive.google.com/uc?export=view&id=15DMdZwn6So4x_RuPf8HaDNvJ-75JGjMH" alt="AppleLaLa"
                     class="applelalalogo">
            </a>
        </div>
    </div>
    <div class="row flex-column align-content-center">
        <div class="col-10 col-md-6 col-lg-4 login_top w-100 p-2 forgot_confirme_top">
            <h3>@ViewBag.Title</h3>
            <h5>您的密碼已重設完成。請 @Html.ActionLink("按一下這裡登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h5>
        </div>
    </div>
</div>
