.table_all {
    font-size: 20px;
    height: 1213.2px;
}

.panel_toolbox {
    min-width: 0;
}

    .panel_toolbox > li > a {
        color: #5A738E;
    }

.table {
    border-radius: 10px;
    text-align: center;
}

.edit_btn {
    font-size: 15px;
    background-color: #e09461;
    color: #fff;
}

.del_btn {
    font-size: 15px;
    background-color: #bf8e6d;
    color: #fff;
}

.upload_btn {
    font-size: 15px;
    background-color: #e2c092;
    color: #fff;
}

    .create_btn:hover, .save_btn:hover, .save_btn:hover, .edit_btn:hover, .del_btn:hover, .upload_btn:hover {
        color: #fff;
    }

    .save_btn:focus, .edit_btn:focus, .del_btn:focus, .upload_btn:focus {
        color: #fff;
    }

th{
    background-color: #e2c092;
}

.h1_title {
    margin-bottom: -25px;
    color: #bf8e6d;
}

textarea {
    width: 300px;
    height: 100px;
    color: #000;
}

.form-control {
    width: 300px;
    font-size: 15px;
}

.horizontal {
    font-size: 14px;
}

.confirm_del {
    margin-left: 15%;
}

.create_btn, .save_btn {
    font-size: 15px;
    background-color: #E09461;
    color: #fff;
}

.confirm_del:hover {
    color: #fff;
}

/*.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
}

    .pagination > .active > a {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #e09461;
        border-color: #e09461;
    }

        .pagination > .active > a, .pagination > .active > a:hover {
            background-color: #e09461;
            border-color: #e09461;
            color: #fff;
        }*/

.fa-chevron-up:before {
    color: #425567;
}

.fa-plus:before {
    color: #425567;
}

.fa-link:before {
    color: #425567;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #425567;
    font-weight: bolder;
}

.pagination > li > a {
    color: #425567;
}

.searching {
    background-color: #e09461;
    border: 1px solid #e09461;
    color: #fff;
    margin-left: 2px;
    width: 47.4px;
    height: 36.9px;
    font-size: 15px;
}

.search_text {
    height: 36.9px;
    font-size: 15px;
    border-right: 0;
    -webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0px rgba(0,0,0,0.075);
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid rgba(221,226,232,0.49);
}

    .search_text:focus {
        border: 1px solid rgba(221,226,232,0.49);
        border-right: 0
    }

.banner_body {
    padding: 10% 0;
}

@media screen and (max-width:768px) {
    .h1_title {
        margin-bottom: 0;
    }
}

@media screen and (max-width:992px) {
    .h1_title {
        margin-bottom: 0;
    }
}
