
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .blog_environment_photo {
        background-position:top 7% right;
    }
</style>
<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="">

    <div class="container text-center">
        <h2>專業除毛</h2>
    </div>
</section>
<!-- Page info section end -->
<!-- Blog section -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <!-- blog item -->
                <div class="blog-item">
                    <div class="blog-thumb set-bg" data-setbg="../Assets/image/0003.jpg">
                        <div class="blog-date">AppleLaLA+熱蠟除毛</div>
                    </div>
                    <div class="blog-content">
                        <h3>專業熱蠟除毛</h3>
                        <div class="blog-meta"><a href="">手足除毛</a>|<a href="">腋下除毛</a>|<a href="">私密處除毛</a></div>
                        <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
                        <a href="" class="readmore">More Info</a>
                    </div>
                </div>
                <!-- blog item -->
                <div class="blog-item">
                    <div class="blog-thumb set-bg" data-setbg="../Assets/image/0003">
                        <div class="blog-date">美容師陣容</div>
                    </div>
                    <div class="blog-content">
                        <h3>專業美容師</h3>
                        <div class="blog-meta"><a href="">By Admin</a>|<a href="">in Hair Care</a>|<a href="">2 Comments</a></div>
                        <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
                        <a href="" class="readmore">More Info</a>
                    </div>
                </div>
                <!-- blog item -->
                <div class="blog-item">
                    <div class="blog-thumb set-bg blog_environment_photo" data-setbg="../Assets/image/0002.jpg">
                        <div class="blog-date">環境介紹</div>
                    </div>
                    <div class="blog-content">
                        <h3>你的隱私.我最在意</h3>
                        <div class="blog-meta"><a href="">By Admin</a>|<a href="">in Hair Care</a>|<a href="">2 Comments</a></div>
                        <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
                        <a href="" class="readmore">More Info</a>
                    </div>
                </div>
                <button class="site-btn load-more">Load more posts</button>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 sidebar">
                <div class="sb-widget">
                    <form class="sb-search">
                        <input type="text">
                        <button>Search</button>
                    </form>
                </div>
                <div class="sb-widget">
                    <h5 class="sbw-title">熱蠟除毛</h5>
                    <ul>
                        <li><a href="">手足除毛</a></li>
                        <li><a href="">背部除毛</a></li>
                        <li><a href="">腋下除毛</a></li>
                        <li><a href="">臉部除毛</a></li>
                    </ul>
                </div>
                <div class="sb-widget">
                    <h5 class="sbw-title">美容師</h5>
                    <ul>
                        <li><a href="">March 2018</a></li>
                        <li><a href="">April 2018</a></li>
                        <li><a href="">July 2018</a></li>
                        <li><a href="">August 2018</a></li>
                        <li><a href="">September 2018</a></li>
                    </ul>
                </div>

                <div class="sb-widget">
                    <h5 class="sbw-title">Latest Posts</h5>
                    <div class="latest-posts-widget">
                        <div class="lp-item">
                            <div class="lp-thumb set-bg" data-setbg="../Assets/image/blog/thumb/1.jpg"></div>
                            <div class="lp-content">
                                <h6>Vivamus rutrum dui</h6>
                                <span>July 22, 2018</span>
                            </div>
                        </div>
                        <div class="lp-item">
                            <div class="lp-thumb set-bg" data-setbg="../Assets/image/blog/thumb/2.jpg"></div>
                            <div class="lp-content">
                                <h6>Rutrum dui fermentum</h6>
                                <span>July 22, 2018</span>
                            </div>
                        </div>
                        <div class="lp-item">
                            <div class="lp-thumb set-bg" data-setbg="../Assets/image/blog/thumb/3.jpg"></div>
                            <div class="lp-content">
                                <h6>Vivamus rutrum dui</h6>
                                <span>July 22, 2018</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sb-widget">
                    <a href="#" class="add"><img src="img/add.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog section end -->