<div class="site-logo">
    <a href="~/Home/Index" class="link-logo">
        <img src="https://drive.google.com/uc?export=view&id=15DMdZwn6So4x_RuPf8HaDNvJ-75JGjMH" alt="AppleLaLa" class="applelalalogo">
    </a>
</div>
